body {
    
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.resultCard {
    border: 2px solid #2307f7;
    background-color: #4287f5;
    color:#050505;
    margin:auto;
    max-width:80%;
}
.inputbar {
 margin-top:5px;
 width : 100px;
 text-align: center;
 }

input, select, textarea {
    font-size: 16px; /* Prevents auto-zoom */
}
 
 .calcButton {
  background-color: #004080;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.calcButton:hover {
  background-color: #0066cc;
}
  
  .savingValue {
      font-size:30px;
      font-weight: bold;
      color: #a8323c;
  }
  
  .savings {
      text-align:center;
  
  }
